.crossword-board-container {
    position: relative;
    background: #FFFFFF;
  }
  
  .crossword-board {
    position: absolute;
    background: transparent;
    display: grid;
    border: none;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    gap: 5px;
    width: 550px;
    height: 500px;
    grid-template: repeat(9, 11.1111111%)/repeat(10, 10%);
  }
  
  .crossword-board__item {
    background: #FFFFFF;
    position: relative;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    visibility: visible;  
    border: 3px solid #000000;
    border-radius: 10px;
    font-size: 3em;
  }
  
  .crossword-board__item:read-write:active, .crossword-board__item:read-write:focus {
    background: #FFFF74;
    outline: 1px solid #000000;
  }
  
  .crossword-board__item--blank {
    background: transparent;
    border: none;
    outline: none;
  }